:root{
    --primary-color: #4c65c6;
    --secondary-color: #94a6e9;
    --accent-color: #dedcff;
    --text-color: #000000;
}

html{
    font-size: 16px;
}

header{
    height: 109px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

header div {
    display: flex;
    gap: 10px;
}

header div a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

body {
    font-family: Alata;
    margin: 0px;
}

footer{
    height: 70px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contact-link{
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 6px 16px;
}

#contact-link:hover{
    background-color: var(--accent-color);
}

.github-icon{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.github-icon:hover {
    transform: scale(1.2);
}

.description {
    background-color: var(--secondary-color);
    height: 318px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 100px;
}

.description-text {
    max-width: 600px; 
    width: 90%; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.lists{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 20px;
    position: relative;
    z-index: 0;
}

.lists div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.lists div h3{
    font-weight: 100px;
    font-size: 1.5rem;
}

.lists ul, .lists ol{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lists li{
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-size: 1rem;
    z-index: 1;
    width: 100px;
    height: 150px;
    border-radius: 4px;
    list-style-type: none;
}

.lists li .badge{
    width: 10px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 3px 7px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: -30px;
    left: 10%;
    transform: translateX(-10%);
}

.lists li span{
    position: relative;
    z-index: 2;
}

.lists ol li span{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 5px;
    border-radius: 4px;
}

.lists li img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    object-fit: cover;
    z-index: 0;
}

.feedback{
    margin-bottom: 30px;
    margin-left: 50px;
}

.feedback form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback h4{
    font-size: 1.5rem;
}

.feedback input{
    background-color: var(--secondary-color);
    width: 80%;
    height: 56px;
    font-size: 1rem;
    font-family: Alata;
    margin: 10px;
}

.feedback textarea{
    background-color: var(--secondary-color);
    width: 80%;
    height: 56px;
    resize: none;
    font-size: 1rem;
    font-family: Alata;
    margin: 10px;
}

.feedback button[type=submit]{
    background-color: var(--secondary-color);
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: Alata;
}

.feedback button[type=submit]:hover{
    background-color: var(--accent-color);
}

/* Configuração para tablets */
@media (max-width: 1024px) {
    .profile-pic {
        width: 210px;
        height: 210px;
        margin-right: 10px;
    }
}

/* Configuração para smartphones */
@media screen and (max-width: 600px) {
    .profile-pic{
        width: 200px;
        height: 200px;
    }

    .description{
        height: 584px;
        flex-direction: column;
    }

    .feedback form{
        align-items: center;
        padding-left: 0;
    }

    .feedback{
        margin-left: 20px;
    }

    .lists{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .lists div{
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .lists ul, .lists ol{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .lists li{
        width: calc(50% - 10px);
        max-width: 120px;
        height: 150px;
        padding: 10px;
    }
}